a{
	color: #C8BEA1;
	font-family: Kanit, serif;
	font-size: 1.4em;
}
a:hover {
	text-decoration: underline;
	color: #EF9121;
	font-style: italic;
}
#p4{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.3em;
}
#p_1{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.2em;
}
#p2{
	color: #EF9121;
	font-family: Kanit, serif;
	font-size: 2.5em;
}
#p3{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.4em;
}
#a1{
	color: #E36D68;
	font-family: Kanit, serif;
	font-size: 1.1em;
}
#a2{
	color: #83B23A;
	font-family: Kanit, serif;
	font-size: 1.1em;
}
#a3{
	color: #A9B09D;
	font-family: Kanit, serif;
	font-size: 1.4em;
}
#a4{
	color: #F79600;
	font-family: Kanit, serif;
	font-size: 1.3em;
}

#th_1{
	color: white;
	font-family: Kanit, serif;
	font-size: 1.5em;
	text-align: center;
}
td{
	color: #A9B09D;
	font-family: Kanit, serif;
	font-size: 1em;
	text-align: center;
}
#h_1{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 2em;
	font-weight: bold;
}
h2{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 2em;
}
#h_2{
	color: #C8BEA1;
	font-family: Kanit, serif;
	font-size: 1em;
}
#h_3 {
	color: #C8BEA1;
	font-family: Kanit, serif;
	font-size: 1.2em;
}
#h3 {
	color: #C8BEA1;
	font-family: Kanit, serif;
	font-size: 1.2em;
}
}
h4{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.3em;
}
font{
	color: #838281;
	font-family: Kanit, serif;
	font-size: 1.3em;
}
#font2{
	color: #868785;
	font-family: Kanit, serif;
	font-size: 1.3em;
	font-weight: normal;
}

#ip{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.3em;
}
#space{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1em;
	text-align:left;
}
#place{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.3em;
}
button{
	color: #838281;
	font-family: Kanit, serif;
	font-size: 1.3em;
}
#s1{
	color: #838281;
	font-family: Kanit, serif;
	font-size: 1.3em;
}

label{
	color: #CBAA96;
	font-family: Kanit, serif;
	font-size: 1.3em;
	
}

button{
	color: #A9B09D;
	font-family: Kanit, serif;
	font-size: 1.6em;
}





